body{
    background-color: #1a1a1a;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
   background-color: rgb(156, 155, 155);
   height: 200px;
   width: 250px; 
  border-radius: 10px;
  padding: 30px;
}

.login h1{
    text-align: center;
    color: rgb(9, 51, 190);
} 
form{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

input {
    border-radius: 8px;
    margin-bottom: 10px;
    padding:5px;
}
 button{
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(66, 211, 255);
    color: white;
 }